body {
    background-color: black;
}

#field {
    background-color: black;
    overflow: hidden;
    position: absolute;
    left: 50px;
    top: 50px;
    width: 328px;
    height: 328px;
}

.item {
    width: 40px;
    height: 40px;
    position: absolute;
}

.selected {
    opacity: 0.5;
}